*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html{
  scroll-behavior: smooth;
  transition: all 0.5s;
}
header{
    width: 100%;
    height: 100vh;
    background: #2a7b9b;
  background: #3bb8a3;
  background: linear-gradient(
      90deg,
      rgba(59, 184, 163, 1) 0%,
      rgba(72, 181, 159, 0.914) 8%,
      rgba(111, 209, 178, 1) 18%,
      rgba(237, 221, 83, 0.266) 100%
    ),
    url(../photos/cake12.jpg);
  background-size: cover;
  background-position: center;
}
nav{
    width: 80%;
    height: 70px;
    background:  rgba(10, 162, 147, 0.747);
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    border-radius: 40px;

}
.menu{
  display: none;
}
.logo{
  display: flex;
    align-items: center;
    gap: 10px;
}
.nav-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.banner-content{
    width: 80%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.btn-group{
    background: #fff;
    padding: 10px 20px;
    border-radius: 40px;
    cursor: pointer;
    padding: 15px 20px;
}
.btn-group:hover{
    background: #2a7b9b;
    color: #fff;
}
section{width: 100%;
    height: autp;
    box-shadow: 2px 2px 4px rgb(218, 209, 209);
    padding: 40px 40px;
    position: relative;
}
.about-section{
  display: flex;
  gap: 20px;
}
.title{
  text-align: center;
}
.about-content,.about-img{
  flex: 1;
  display: flex;
  
  justify-content: center;
  align-items: center;
}
.about-content{
  flex-direction: column;
  gap: 20px;
}
.menu-section{
  display: flex;
  gap: 10px;
  text-align: center;
  justify-content: center;
  
}
.menu-content,.menu-img{
  flex: 1;
}
.menu-content{display: flex;
  flex-direction: column;
  gap: 10px;
}



